In [1]:
a=10
a
print(type(a))
print(a)

1642453376
<class 'int'>
10

In [11]:
b=10
c=9
b,c

(10, 9)

In [3]:
b

10

In [4]:
c

10

In [5]:
id(b)

1642453376

In [6]:
id(c)

1642453376

In [7]:
abc=2
ABC=3
abc
ABC

3

In [13]:
a=2+5j

In [15]:
a,a.real,a.imag,a.conjugate(),type(a.real),type(a.imag)

((2+5j), 2.0, 5.0, (2-5j), float, float)

In [19]:
k="abc"

In [21]:
len(k)

3

In [22]:
i='ABC'

In [23]:
k+i

'abcABC'

In [24]:
k="ab'bc'ef"

In [25]:
k

"ab'bc'ef"

In [30]:
bool(1)

True

In [31]:
int("true")

ValueError: invalid literal for int() with base 10: 'true'

In [32]:
list=[10,a,"abc"]

In [33]:
list

[10, (2+5j), 'abc']

In [35]:
list+=[33]

In [36]:
list

[10, (2+5j), 'abc', 33]

In [37]:
tuple=("jnh",178,17.4)

In [38]:
tuple

('jnh', 178, 17.4)

In [41]:
g=(12,45,7.33)

In [42]:
tuple+=g

In [53]:
del tuple

In [54]:
g=tuple(list)

In [48]:
l=(list)

In [46]:
list

[10, (2+5j), 'abc', 33]

In [49]:
type(l)

list

In [50]:
l

[10, (2+5j), 'abc', 33]

In [55]:
g

(10, (2+5j), 'abc', 33)

In [57]:
type(l)

list

In [58]:
type(g)

tuple

In [64]:
d={'name':"abhinav",'rollno':43}

In [66]:
"name"

'name'

In [68]:
d

{'name': 'abhinav', 'rollno': 43}

In [70]:
c=input("enter a number");

enter a number12

In [71]:
c

'12'

In [72]:
type(c)

str

In [73]:
b = float(c)

In [74]:
b

12.0

In [75]:
b=complex(c)

In [76]:
b

(12+0j)

In [77]:
s={1,3.4,"str",'tup'}

In [78]:
s

{1, 3.4, 'str', 'tup'}

In [79]:
type(s)

set

In [80]:
s

{1, 3.4, 'str', 'tup'}

In [81]:
s

{1, 3.4, 'str', 'tup'}

In [82]:
s

{1, 3.4, 'str', 'tup'}

In [83]:
s ={10,2}

In [84]:
s

{2, 10}

In [85]:
a=10

In [86]:
b=2.44

In [87]:
a+b

12.44

In [88]:
c=a+b

In [89]:
type(c)

float

In [90]:
type(a)

int

In [91]:
s

{2, 10}

In [92]:
12**5

248832

In [93]:
2**10

1024

In [95]:
s.add("di")

In [96]:
s

{10, 2, 'di'}

In [100]:
list

[10, (2+5j), 'abc', 33]

In [103]:
t=range(1,10)

In [104]:
t

range(1, 10)

In [107]:
type(t)

range

In [114]:
t=[*range(1,10,2)]

In [112]:
t

[1, 3, 5, 7, 9]

In [115]:
t

[1, 3, 5, 7, 9]

In [129]:
a=10
b=20
if(a==10 and b==20):
    print("it is identical")
if(int(a==10) & int(b==20)):
    print("yes")a= int(input("Enter 1st number"))

it is identical
yes

In [137]:
n= int(input("Enter the year"))
if((n%100!=0 and n%4==0) or n%400==0):
    print("it is a leap year")
else:
   print("it is not a leap year")

Enter the year2104
it is a leap year

In [149]:
num1= int(input("Enter 1st number"))
num2= int(input("Enter 2nd number"))
num3= int(input("Enter 3rd number"))

if(num1>num2 and num1>num3):
    print(num1,"is greater than ",num2  ,num3)
elif(num2>num1 and num2>num3):
    print("num 2 is greatest")
elif(num1==num2 and num2==num3):
    print("all are equal")
else:
    print("num 3 is greatest")

Enter 1st number3
Enter 2nd number2
Enter 3rd number1
3 is greater than  2 1

In [2]:
a= int(input("Enter 1st number"))
b= int(input("Enter 2nd number"))
choice=int(input("Enter the choice : \n1.add \n2.sub \n3.mul \n4.div\n"))
if choice=="add" or choice ==1:
    print("a+b : ",a+b)
elif choice=="sub" or choice ==2:
    print("a-b : ",a-b)
elif choice=="mul" or choice==3:
    print("a*b : ",a*b)
else:
    print("a/b : ",a/b)

Enter 1st number7
Enter 2nd number6
Enter the choice :
1.add
2.sub
3.mul
4.div
4
a/b :  1.1666666666666667

In [7]:
a= str(input("Enter a letter\n"))
if a=='a' or a== 'e' or a=='i' or a== 'o' or a== 'u':
    print("it is an vowel")
else:
    print("\nit is a consonant")

Enter a letter
i
it is an vowel